@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    header{
        background-color: dodgerblue;
        color: white;
        text-align: center;
        padding: 1em;
    }
    main{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        .game_controls{
            margin-top: 5px;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            .button{
                width: fit-content;
                margin: 5px;
                padding: 5px 10px;
                &:hover{
                    cursor: pointer;
                }
            }
            .slidecontainer{
                display: flex;
                align-items: center;
                span{
                    margin-right: 5px;
                }
            }
        }
        .game_board{
            display: grid;
            gap: 0;
            justify-content: center;
            //grid-template-columns: repeat(25,auto);
            a{
                width: 25px;
                height: 25px;
                border: 1px solid rgb(48, 48, 48);
                background-color: gray;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .backdrop{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(128, 128, 128, 0.712);
        display: none;
        &:hover{
            cursor: pointer;
        }
        z-index: 5;
        .lexicon{
            background-color: white;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translateY(-50%) translateX(50%);
            padding: 10px 40px;
            border-radius: 10px;
            z-index: 10;
            .lexicon-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
                .lexicon-item-header{
                    margin-bottom: 5px;
                }
                .lexicon-item-img{
                    width: 200px;
                    height: 100px;
                    margin-bottom: 5px;
                }
            }
            
        }
    }
}